.introduction{
    color:red;
    background:black;
    text-align:center;
}

.hobby{
    color:red;
    background: black;

}

ul li:hover{
    color:red;
    background:black;
}

.gallery{
    width:200px;
    height:auto;
    margin:10px;
}

