h1{
	font-size:32px;
	color:white;
	background-color:midnightblue;
	text-align:center;
}

h3{
	color:white;
	background:deepskyblue;
	height:50px;
	line-height:50px;
	text-align:center;
}

p{
	color:white;
	background:#3776AB;
	text-align:center;
}
