p{
	color:white;
	background-color:#00008B;
	width:160px;
	text-align:center;
	display:inline-block:
	padding:10px 0;
	margin-right:20px;
	border-top:5px dotted yellow;
	border-right:10px ridge yellow;
	border-bottom: 10px ridge red;
	border-left: 5px solid yellow;
	
}
